.headerContainer {
    padding-left: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .title{
    margin: 0;
  }
  @media (min-width: 1024px) {
    .headerContainer {
      width: 70%;
    }
  }

  .menu {
    height: 1000px;
    width: 100%;
    background-color: orange;
  }

  .img {
    height: 50px;
    width: 50px;
  }
