.headerContainer {
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .title{
    margin: 0;
  }
  @media (min-width: 1024px) {
    .headerContainer {
      width: 70%;
    }
  }

  .menu {
    height: 1000px;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .img {
    height: 50px;
    width: 50px;
  }

  .closeButton {
    height: 40px;
    width: 40;
  }

  .links {
    padding: 1rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 1.5rem;
  }