.menuBox {
    background-color: #f1911b;
    width: 95%;
    position: fixed;   
    top: 0;
    left: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999;
}

.closeButton {
    height: 40px;
    width: 40px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-right: 20px;
    height: 200px;
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif
}

.links a {
    text-decoration: none;
    color: #fff2e4;
}

.hide {
    display: none;
}